
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="css/Externo_login.css">
</head>
<body>
    <div class="container">
        <h1>Criar conta</h1>
        <div class="social-media">
            <a href="#">
                <img src="../imagens_geral/telas_login_cadastro/google.png" alt="Logo do Google">
            </a>
            <a href="#">
                <img src="../imagens_geral/telas_login_cadastro/facebook.png" alt="Logo do Facebook">
            </a>
            <a href="#">
                <img src="../imagens_geral/telas_login_cadastro/linkedin.png" alt="Logo do Linkedin">
            </a>
        </div>

        <div class="alternative">
            <span>OU</span>
        </div>

        <form action="">
            <label for="name">
                <span>Nome</span>
                <input type="text" id="name" name="name" autofocus required>
            </label>

            <label for="name">
                <span>CPF</span>
                <input type="text" id="cpf" name="cpf" placeholder="Formato:  000.000.000-00" maxlength="14" autofocus required>
            </label>

            <label for="email">
                <span>E-mail</span>
                <input type="email" id="email" name="email" autofocus required>
            </label>

            <label for="password">
                <span>Senha</span>
                <input type="password" id="password" name="password" autofocus required>
            </label>

            <input type="submit" value="Criar" id="button" autofocus required>
        </form>
    </div>
    <div class="images">
        <img src="../imagens_geral/telas_login_cadastro/celular_sem_fundo.png" alt="Mobile">
    </div>
</body>
</html>