<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Ctrl+Alt+F para organizar o codigo-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--responsive meta tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finalizar Prdido</title>
    <!--CSS Externo-->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
      .btn_produtos{
        text-decoration: none;
        color: white;
      }
    </style>
</head>
<body>
  {% block conteudo %}
    <!--Barra de Navegação-->
    {% include './bases/cabecario.html' %}

  <!--Carrinho-->
  <!--img do meio da pagina-->

  <div class="row mt-5">
    <div class="col-12">
      <p class="text-center mt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
      </p>
      <h2 class="text-center">Seu carrinho de compras está vazio</h2>
      <p class="text-center">
          <button type="button" class="btn btn-dark" id="btcriarconta"><a class="btn_produtos" href="/index">ESCOLHER PRODUTOS</a></button>
      </p>
    </div>
  </div> 
      {% include './bases/rodape.html' %}
  <!--Java Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  {% endblock %}
</body>
</html>