{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Perfil Profissional</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--link minificado do font elsom-->
  <link rel="stylesheet" href="{% static 'css/Externo_2.css' %}">

</head>

<body>
  {% block conteudo %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'img_perfil_profissional/imagem_perfil (1).png' %}"
          alt="perfil do profissional" class="rounded-circle" width="70px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <p>Olá, Kaio! <br> Bem-vindo(a)</p>
          <li class="nav-item dropdown">
            <div class="orgmenu">
          <li class="nav-item">
            <a class="nav-link" href="/index">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Meus dados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Estoque</a>
          </li>
          <div class="social-media">
            <a href="/index">
              <img src="{% static 'img_perfil_profissional/sair.png' %}" alt="imagem para o profissional sair do site"
                class="media-object" width="45px">
            </a>
          </div>
      </div>
      </ul>
    </div>
    </div>
  </nav>



  <div class="container espaco">

    <div class="row  mt-3">
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <a href="/lista_itens"><img style="height: 200px; width: 200px;"
            src="{% static 'img_perfil_profissional/adicionar_item.png' %}" alt="Imagem link, para cadastro de produto"
            class="media-object img-responsive img-thumbnail img-fluid rounded-circle"></a>
        <h5>Geênciamento de produtos</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <a href="/estoque"><img style="height: 200px; width: 200px;"
            src="{% static 'img_perfil_profissional/controle_estoque.png' %}" alt="Imagem link, para estoque de produto"
            class="media-object  img-responsive img-thumbnail img-fluid rounded-circle"></a>
        <h5>Controle de estoque</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg-4  text-center">
        <a href="#"><img style="height: 200px; width: 200px;"
            src="{% static 'img_perfil_profissional/gerencia_financeira.png' %}"
            alt="Imagem link, para gerenciamento financeiro"
            class="media-object  img-responsive img-thumbnail img-fluid rounded-circle"></a>
        <h5>Gerênciento financeiro</h5>
      </div>
    </div>

    <div class="row  mt-3">
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <a href="#"><img style="height: 200px; width: 200px;"
            src="{% static 'img_perfil_profissional/nossos_clientes.png' %}" alt="Imagem link, para dados dos clientes"
            class="media-object  img-responsive img-thumbnail img-fluid rounded-circle"></a>
        <h5>Nossos clientes</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <a href="#"><img style="height: 200px; width: 200px;" src="{% static 'img_perfil_profissional/Estrategias.png' %}"
            alt="Imagem link, para pagina de estrategias"
            class="media-object  img-responsive img-thumbnail img-fluid rounded-circle"></a>
        <h5>Estratégias e gerênciamento <br> de equipe</h5>
      </div>
      <div class="col-12 col-sm-6 col-lg-4  text-center">
        <a href="#"><img style="height: 200px; width: 200px;" src="{% static 'img_perfil_profissional/relatorios.png' %}"
            alt="Imagem link, para relatorios"
            class="media-object  img-responsive img-thumbnail img-fluid rounded-circle"></a>
        <h5>Relatórios</h5>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>